{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4 font-weight-bold">SPLITTERONI</h1>
        <p class="lead">
            Create a new split. {% if not user.is_authenticated %}Log in or sign up to save your splits.{% endif %}
        </p>
        <hr class="my-4">
        {% if user.is_authenticated %}
            <a href="{% url 'bill-create' %}" class="btn btn-dark btn-lg">New Split</a>
        {% else %}
            <a href="{% url 'bill-create' %}" class="btn btn-dark btn-lg">New Split</a>
            <a href="{% url 'account_login' %}" class="btn btn-secondary btn-lg">Log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-light btn-lg">Sign up</a>
        {% endif %}
</div>
{% endblock content %}