{% extends '_base.html' %}

{% block title %}{{ bill }} Details{% endblock title %}

{% block content %}
    <div class="text-center m-2 p-2">
        <h3>{{ bill }}</h3>
        <h1>Total: ${{ bill.get_order_grand_total }}</h1>
        <h5>
            Tip{% if bill.tip_percent %}({{ tip_percentage }}%){% endif %}:
            ${% if bill.get_tip_amount %}{{ bill.get_tip_amount }}{% else %}0.00{% endif %}
            Tax{% if bill.tax_percent %}({{ tax_percentage }}%){% endif %}:
            ${% if bill.get_tax_amount %}{{ bill.get_tax_amount }}{% else %}0.00{% endif %}
        </h5>
        <div class="btn-group" role="group">
            <a href="{% url 'person-create' bill.pk %}" class="btn btn-dark">Add Person</a>
            <a href="{% url 'bill-update' bill.pk %}" class="btn btn-dark">Edit Name</a>
            <div class="dropdown btn-group">
                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tax
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="{% url 'bill-update-tax-percent' bill.pk %}" class="dropdown-item">By Percent</a>
                    <a href="{% url 'bill-update-tax-amount' bill.pk %}" class="dropdown-item">By Amount</a>
                </div>
            </div>
            <div class="dropdown btn-group">
                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Service
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="{% url 'bill-update-tip-percent' bill.pk %}" class="dropdown-item">By Percent</a>
                    <a href="{% url 'bill-update-tip' bill.pk %}" class="dropdown-item">By Amount</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-columns">
        <div class="card text-center" {% comment %}style="width: 18rem;"{% endcomment %}>
            <h4 class="card-header">
                Shared Items | ${{ bill.get_shared_items_total }}
            </h4>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for item in shared_items %}
                        <li class="list-group-item">
                            {{ item.title }} - ${{ item.price }}
                            <a href="{% url 'item-delete' item.pk %}" class="badge badge-warning">
                                Delete</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            No items yet.
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'shared-item-create' bill.pk %}" class="btn btn-dark">
                    Add item</a>
            </div>
        </div>

        {% for person in people %}
            <div class="card text-center" {% comment %}style="width: 18rem;"{% endcomment %}>
                <h4 class="card-header">
                    {{ person }} | ${{ person.get_person_total }}
                </h4>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for item in person.items.all %}
                            <li class="list-group-item">
                                {{ item.title }} - ${{ item.price }}
                                <a href="{% url 'item-delete' item.pk %}" class="badge badge-warning">Delete</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No items yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'item-create' bill.pk person.pk %}" class="card-link btn btn-dark">
                        Add item</a>
                    <a href="{% url 'person-delete' person.pk %}" class="card-link btn btn-danger">
                        Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

